* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(196, 248, 205);
}

a {
  display: block;
  text-decoration: none;
}

img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

.search-form {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

input {
  background-color: rgb(218, 238, 127);
  width: 50%;
  padding: 20px;
  font-size: 32px;
  font-style: italic;
  border-radius: 10px;
  outline-color: #3c4245;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.material-icons {
  font-size: 28px;
}

.button {
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 32px;
  color: #e8e8e8;
  background-color: #414141;
  outline-color: #3c4245;
}
.stats {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
}
